<body>

    <div class="app-container">

        <header class="header">
            <div class="header-btn-left" ><fa-icon size="2x" [icon]="faDownload"></fa-icon></div>
            <div class="header-btn-left" ><fa-icon size="2x" [icon]="faSave"></fa-icon></div>
            <div class="header-title">PROTOUST</div>
            <div class="header-btn-right" >
               <fa-icon size="2x" [icon]="faRefresh"></fa-icon>
            </div>
            <div class="header-btn-right" >
               <fa-icon size="2x" [icon]="faUpload"></fa-icon>
            </div>
        </header>

        <main class="main-content">
            <div class="control-panel">
                <div class="row-universo">
                    <label>Menu:</label>
                    <div class="btn-group-four">
                        <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faFileHalfDashed"></fa-icon></button>
                        <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faSave"></fa-icon></button>
                        <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faEarthAmericas"></fa-icon></button>
                        <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faScroll"></fa-icon></button>
                    </div>
                </div>

                <div class="control-panel-v2">
                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Ejercicio:</label>
                            <div class="custom-select">
                                
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"
                                   ><fa-icon size="2x" [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-panel-v2">
                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Generar Palabras</label>
                            <div class="word-generate">
                                @for(palabra of (palabras()); track $index) {
                                    <span class="word">{{ palabra.verbo }}</span>
                                }
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt" (click)="onGenerarPalabras()"><fa-icon size="2x" [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"
                                   ><fa-icon size="2x" [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt" ><fa-icon size="2x" [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </main>

        <footer class="footer">
            <button class="footer-btn">Creatividad</button>
            <button class="footer-btn" (click)="onClickCaleVRije()">CaleVRije</button>
            <button class="footer-btn" (click)="onClickMente()">Personas</button>
        </footer>

    </div>

    <script src="./js/jquery-4.0.0.min.js.js"></script>
    <script src="./js/funciones.js"></script>

    @if (mostrarTextPlus) {
    <app-text-plus [(textoContenido)]="textoAEditar" (cerrar)="cerrar()" (aceptar)="aceptar()"></app-text-plus>
    }

</body>