<body>

    <div class="app-container">

        <header class="header">
            <div class="header-btn-left"><fa-icon size="2x" [icon]="faDownload"></fa-icon></div>
            <div class="header-btn-left"><fa-icon size="2x" [icon]="faSave"></fa-icon></div>
            <div class="header-title">PROTOUST</div>
            <div class="header-btn-right">
                <fa-icon size="2x" [icon]="faRefresh"></fa-icon>
            </div>
            <div class="header-btn-right">
                <fa-icon size="2x" [icon]="faUpload"></fa-icon>
            </div>
        </header>

        <main class="main-content">
            <div class="control-panel">
                <div class="row-universo">
                    <label>Menu:</label>
                    <div class="btn-group-four">
                        <button class="square-btn light-txt" (click)="onSelecionarSeccion('personalidad')"><fa-icon [class.active]="personalidadDiv"
                                size="2x" [icon]="faUser"></fa-icon></button>
                        <button class="square-btn light-txt" (click)="onSelecionarSeccion('valores')"><fa-icon [class.active]="valoresDiv" size="2x"
                                [icon]="faPersonChalkboard"></fa-icon></button>
                        <button class="square-btn light-txt" (click)="onSelecionarSeccion('miedos')"><fa-icon [class.active]="miedosDiv" size="2x"
                                [icon]="faPersonHiking"></fa-icon></button>
                        <button class="square-btn light-txt" (click)="onSelecionarSeccion('emociones')"><fa-icon [class.active]="emocionesDiv"
                                size="2x" [icon]="faPersonDressBurst"></fa-icon></button>
                    </div>
                </div>

                <div class="control-panel-v2" [class.hidden]="!personalidadDiv">

                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Personalidad:</label>
                            <div class="custom-select">
                                <select name="personalidad" id="personalidad" (change)="onSelectPersonalidad($event)">
                                    <option value='0'>Elige...</option>
                                    <!--   @for (personalidad of (personalidades); track personalidad.id) {
                                    <option value='{{personalidad.id}}'>{{personalidad.nombre}} @if
                                        (personalidad._deleted) { - }</option>
                                    } @empty {
                                    <option value='0'>-Vacio-</option>
                                    }-->
                                </select>
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                        <div>
                            <div class="input-cell">
                                <label>MBTI</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.mbti">
                            </div>
                            <div class="input-cell">
                                <label>Color/Forma</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.colorForma">
                            </div>
                            <div class="input-cell">
                                <label>Oficio</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.oficio">
                            </div>
                            <div class="input-cell">
                                <label>Descripción</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.descripcion"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Como Son</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.comoSon"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Cualidad</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.cualidad"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Donde Encaja</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.dondeEncaja"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Habilidad</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.habilidad"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Valores</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.valores"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Pareja</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.pareja">
                            </div>
                            <div class="input-cell">
                                <label>Traumas</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.traumas"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Enfermedad</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.enfermedad"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Dañan</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.danan"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>CaleVRije</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.CaleVRije">
                            </div>
                            <div class="input-cell">
                                <label>Función</label>
                                <textarea [(ngModel)]="personalidadSeleccionada.funcion"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Grupo</label>
                                <input type="text" [(ngModel)]="personalidadSeleccionada.grupo">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-panel-v2" [class.hidden]="!valoresDiv">

                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Valores:</label>
                            <div class="custom-select">
                                <select name="personalidad" id="personalidad" (change)="onSelectPersonalidad($event)">
                                    <option value='0'>Elige...</option>
                                    <!--   @for (personalidad of (personalidades); track personalidad.id) {
                                    <option value='{{personalidad.id}}'>{{personalidad.nombre}} @if
                                        (personalidad._deleted) { - }</option>
                                    } @empty {
                                    <option value='0'>-Vacio-</option>
                                    }-->
                                </select>
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                        <div>
                            <div class="input-cell">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="valoresSeleccionado.nombre">
                            </div>
                            <div class="input-cell">
                                <label>Descripción</label>
                                <textarea [(ngModel)]="valoresSeleccionado.descripcion"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Frase</label>
                                <input type="text" [(ngModel)]="valoresSeleccionado.frase">
                            </div>
                            <div class="input-cell">
                                <label>Creatura</label>
                                <input type="text" [(ngModel)]="valoresSeleccionado.creatura">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-panel-v2" [class.hidden]="!miedosDiv">
                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Miedos:</label>
                            <div class="custom-select">
                                <select name="personalidad" id="personalidad" (change)="onSelectPersonalidad($event)">
                                    <option value='0'>Elige...</option>
                                    <!--   @for (personalidad of (personalidades); track personalidad.id) {
                                    <option value='{{personalidad.id}}'>{{personalidad.nombre}} @if
                                        (personalidad._deleted) { - }</option>
                                    } @empty {
                                    <option value='0'>-Vacio-</option>
                                    }-->
                                </select>
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                        <div>
                            <div class="input-cell">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="miedosSeleccionado.nombre">
                            </div>
                            <div class="input-cell">
                                <label>Descripción</label>
                                <textarea [(ngModel)]="miedosSeleccionado.descripcion"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Frase</label>
                                <input type="text" [(ngModel)]="miedosSeleccionado.frase">
                            </div>
                            <div class="input-cell">
                                <label>Creatura</label>
                                <input type="text" [(ngModel)]="miedosSeleccionado.creatura">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="control-panel-v2" [class.hidden]="!emocionesDiv">

                    <div class="section-block">
                        <div class="row-full-select">
                            <label>Emociones:</label>
                            <div class="custom-select">
                                <select name="personalidad" id="personalidad" (change)="onSelectPersonalidad($event)">
                                    <option value='0'>Elige...</option>
                                    <!--   @for (personalidad of (personalidades); track personalidad.id) {
                                    <option value='{{personalidad.id}}'>{{personalidad.nombre}} @if
                                        (personalidad._deleted) { - }</option>
                                    } @empty {
                                    <option value='0'>-Vacio-</option>
                                    }-->
                                </select>
                            </div>
                            <div class="col-actions">
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faSquarePlus"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faTrashCan"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faImage"></fa-icon></button>
                                <button class="square-btn light-txt"><fa-icon size="2x"
                                        [icon]="faCircleInfo"></fa-icon></button>
                            </div>
                        </div>
                        <div>
                            <div class="input-cell">
                                <label>Nombre</label>
                                <input type="text" [(ngModel)]="emocionesSeleccionada.nombre">
                            </div>
                            <div class="input-cell">
                                <label>Descripción</label>
                                <textarea [(ngModel)]="emocionesSeleccionada.descripcion"></textarea>
                            </div>
                            <div class="input-cell">
                                <label>Frase</label>
                                <input type="text" [(ngModel)]="emocionesSeleccionada.frase">
                            </div>
                            <div class="input-cell">
                                <label>Creatura</label>
                                <input type="text" [(ngModel)]="emocionesSeleccionada.creatura">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </main>

        <footer class="footer">
            <button class="footer-btn" (click)="onClickCreatividad()">Juegos</button>
            <button class="footer-btn" (click)="onClickCaleVRije()">CaleVRije</button>
            <button class="footer-btn active">Mente</button>
        </footer>

    </div>

    <script src="./js/jquery-4.0.0.min.js.js"></script>
    <script src="./js/funciones.js"></script>

    @if (mostrarTextPlus) {
    <app-text-plus [(textoContenido)]="textoAEditar" (cerrar)="cerrar()" (aceptar)="aceptar()"></app-text-plus>
    }

</body>